.float_button {
  &__mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
  }

  &__fixed {
    position: fixed;
    right: 50px;
    bottom: 200px;
  }

  &__content {
    position: relative;
  }
}
