.cu-form-group {
    &.focus {
      background-color: rgba(0, 0, 0, 0.1)
    }
    .materialFocus {
      position: absolute;
      top: 5px;
      left: 20px;
      font-size: 16px;
      transition-property: top,font-size;
      transition-duration: 0.2s;
      transition-timing-function: ease;
    }
    .materialBlur {
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      transition-property: top,font-size;
      transition-duration: 0.2s;
      transition-timing-function: ease;
    }
}
