.cl-swiper-action {
  position: relative;
  overflow: hidden;
  &__action {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    &__item {
      &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
