.cl_search_result {
  border-bottom: 1px solid;
  width: 100%;
  &:active {
    background-color: rgba(0,0,0,0.1);
  }
  &:last-child {
    border-bottom: none;
  }
}
.cl_search_loading {
  width: 100%;
  transform: rotate(360deg);
  animation: search_loading 1s infinite linear;
}

@keyframes search_loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
