/* ==================
        初始化
 ==================== */
@import "./vars";

page, body {
  /* Color 可以自定义相关配色 */
  /* var属性兼容性 --> https://www.caniuse.com/#feat=css-variables */
  /* 标准色 */
  background-color: $ghostWhite;
  font-size: 28px;
  color: $black;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image,
div,
img {
  box-sizing: border-box;
}

.round {
  border-radius: 5000px;
}

.radius {
  border-radius: 6px;
}

.response {
  width: 100%;
}

/* ==================
          图片
 ==================== */

image, img {
  max-width: 100%;
  display: inline-block;
  position: relative;
  z-index: 0;

  &.loading {
    &::before {
      content: "";
      background-color: #f5f5f5;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    &::after {
      content: "\e7f1";
      font-family: "cuIcon";
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      line-height: 32px;
      right: 0;
      bottom: 0;
      z-index: -1;
      font-size: 32px;
      margin: auto;
      color: #ccc;
      -webkit-animation: cuIcon-spin 2s infinite linear;
      animation: cuIcon-spin 2s infinite linear;
      display: block;
    }
  }
}

/* ==================
         开关
 ==================== */

switch,
checkbox,
radio {
  position: relative;
}

switch::after,
switch::before {
  font-family: "cuIcon";
  content: "\e645";
  position: absolute;
  color: #fff !important;
  top: 0%;
  left: 0px;
  font-size: 26px;
  line-height: 26px;
  width: 50%;
  text-align: center;
  pointer-events: none;
  transform: scale(0, 0);
  transition: all 0.3s ease-in-out 0s;
  z-index: 9;
  bottom: 0;
  height: 26px;
  margin: auto;
}

switch::before {
  content: "\e646";
  right: 0;
  transform: scale(1, 1);
  left: auto;
}

switch[checked]::after,
switch.checked::after {
  transform: scale(1, 1);
}

switch[checked]::before,
switch.checked::before {
  transform: scale(0, 0);
}

switch {
  .wx-switch-input {
    border: none;
    padding: 0 24px;
    width: 96px;
    height: 52px;
    margin: 0;
    border-radius: 100px;

    &:not([class*="bg-"]) {
      background: $grey !important;
    }

    &::after {
      margin: auto;
      width: 52px;
      height: 52px;
      border-radius: 100px;
      left: 0px;
      top: 0px;
      bottom: 0px;
      position: absolute;
      transform: scale(0.9, 0.9);
      transition: all 0.1s ease-in-out 0s;
    }

    &.wx-switch-input-checked {
      &::after {
        margin: auto;
        left: 44px;
        box-shadow: none;
        transform: scale(0.9, 0.9);
      }
    }
  }
}

radio::before,
checkbox::before {
  font-family: "cuIcon";
  content: "\e645";
  position: absolute;
  color: $white !important;
  top: 50%;
  margin-top: -16px;
  right: 10px;
  font-size: 32px;
  line-height: 32px;
  pointer-events: none;
  transform: scale(1, 1);
  transition: all 0.3s ease-in-out 0s;
  z-index: 9;
}

radio .wx-radio-input,
checkbox .wx-checkbox-input {
  margin: 0;
  width: 48px;
  height: 48px;
}

checkbox.round .wx-checkbox-input {
  border-radius: 100px;
}

switch.radius .wx-switch-input::after,
switch.radius .wx-switch-input,
switch.radius .wx-switch-input::before {
  border-radius: 10px;
}

switch .wx-switch-input::before,
radio.radio::before,
checkbox .wx-checkbox-input::before,
radio .wx-radio-input::before {
  display: none;
}

radio.radio[checked]::after {
  content: "";
  background-color: transparent;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 200px;
  border: 16px solid $white !important;
}

.switch-sex {
  &::after {
    content: "\e71c";
  }

  &::before {
    content: "\e71a";
  }

  .wx-switch-input {
    background: $red !important;
    border-color: $red !important;
  }
}

.switch-sex[checked] {
  .wx-switch-input {
    background: $blue !important;
    border-color: $blue !important;
  }
}

switch.red[checked] .wx-switch-input,
checkbox.red[checked] .wx-checkbox-input,
radio.red[checked] .wx-radio-input {
  border-color: $red !important;
}

switch.orange[checked] .wx-switch-input,
checkbox.orange[checked] .wx-checkbox-input,
radio.orange[checked] .wx-radio-input {
  border-color: $orange !important;
}

switch.yellow[checked] .wx-switch-input,
checkbox.yellow[checked] .wx-checkbox-input,
radio.yellow[checked] .wx-radio-input {
  border-color: $yellow !important;
}

switch.olive[checked] .wx-switch-input,
checkbox.olive[checked] .wx-checkbox-input,
radio.olive[checked] .wx-radio-input {
  border-color: $olive !important;
}

switch.green[checked] .wx-switch-input,
checkbox.green[checked] .wx-checkbox-input,
checkbox[checked] .wx-checkbox-input,
radio.green[checked] .wx-radio-input {
  border-color: $green !important;
}

switch.cyan[checked] .wx-switch-input,
checkbox.cyan[checked] .wx-checkbox-input,
radio.cyan[checked] .wx-radio-input {
  border-color: $cyan !important;
}

switch.blue[checked] .wx-switch-input,
checkbox.blue[checked] .wx-checkbox-input,
radio.blue[checked] .wx-radio-input {
  border-color: $blue !important;
}

switch.purple[checked] .wx-switch-input,
checkbox.purple[checked] .wx-checkbox-input,
radio.purple[checked] .wx-radio-input {
  border-color: $purple !important;
}

switch.mauve[checked] .wx-switch-input,
checkbox.mauve[checked] .wx-checkbox-input,
radio.mauve[checked] .wx-radio-input {
  border-color: $mauve !important;
}

switch.pink[checked] .wx-switch-input,
checkbox.pink[checked] .wx-checkbox-input,
radio.pink[checked] .wx-radio-input {
  border-color: $pink !important;
}

switch.brown[checked] .wx-switch-input,
checkbox.brown[checked] .wx-checkbox-input,
radio.brown[checked] .wx-radio-input {
  border-color: $brown !important;
}

switch.grey[checked] .wx-switch-input,
checkbox.grey[checked] .wx-checkbox-input,
radio.grey[checked] .wx-radio-input {
  border-color: $grey !important;
}

switch.gray[checked] .wx-switch-input,
checkbox.gray[checked] .wx-checkbox-input,
radio.gray[checked] .wx-radio-input {
  border-color: $grey !important;
}

switch.black[checked] .wx-switch-input,
checkbox.black[checked] .wx-checkbox-input,
radio.black[checked] .wx-radio-input {
  border-color: $black !important;
}

switch.white[checked] .wx-switch-input,
checkbox.white[checked] .wx-checkbox-input,
radio.white[checked] .wx-radio-input {
  border-color: $white !important;
}

switch.red[checked] .wx-switch-input.wx-switch-input-checked,
checkbox.red[checked] .wx-checkbox-input,
radio.red[checked] .wx-radio-input {
  background-color: $red !important;
  color: $white !important;
}

switch.orange[checked] .wx-switch-input,
checkbox.orange[checked] .wx-checkbox-input,
radio.orange[checked] .wx-radio-input {
  background-color: $orange !important;
  color: $white !important;
}

switch.yellow[checked] .wx-switch-input,
checkbox.yellow[checked] .wx-checkbox-input,
radio.yellow[checked] .wx-radio-input {
  background-color: $yellow !important;
  color: $black !important;
}

switch.olive[checked] .wx-switch-input,
checkbox.olive[checked] .wx-checkbox-input,
radio.olive[checked] .wx-radio-input {
  background-color: $olive !important;
  color: $white !important;
}

switch.green[checked] .wx-switch-input,
switch[checked] .wx-switch-input,
checkbox.green[checked] .wx-checkbox-input,
checkbox[checked] .wx-checkbox-input,
radio.green[checked] .wx-radio-input,
radio[checked] .wx-radio-input {
  background-color: $green !important;
  color: $white !important;
}

switch.cyan[checked] .wx-switch-input,
checkbox.cyan[checked] .wx-checkbox-input,
radio.cyan[checked] .wx-radio-input {
  background-color: $cyan !important;
  color: $white !important;
}

switch.blue[checked] .wx-switch-input,
checkbox.blue[checked] .wx-checkbox-input,
radio.blue[checked] .wx-radio-input {
  background-color: $blue !important;
  color: $white !important;
}

switch.purple[checked] .wx-switch-input,
checkbox.purple[checked] .wx-checkbox-input,
radio.purple[checked] .wx-radio-input {
  background-color: $purple !important;
  color: $white !important;
}

switch.mauve[checked] .wx-switch-input,
checkbox.mauve[checked] .wx-checkbox-input,
radio.mauve[checked] .wx-radio-input {
  background-color: $mauve !important;
  color: $white !important;
}

switch.pink[checked] .wx-switch-input,
checkbox.pink[checked] .wx-checkbox-input,
radio.pink[checked] .wx-radio-input {
  background-color: $pink !important;
  color: $white !important;
}

switch.brown[checked] .wx-switch-input,
checkbox.brown[checked] .wx-checkbox-input,
radio.brown[checked] .wx-radio-input {
  background-color: $brown !important;
  color: $white !important;
}

switch.grey[checked] .wx-switch-input,
checkbox.grey[checked] .wx-checkbox-input,
radio.grey[checked] .wx-radio-input {
  background-color: $grey !important;
  color: $white !important;
}

switch.gray[checked] .wx-switch-input,
checkbox.gray[checked] .wx-checkbox-input,
radio.gray[checked] .wx-radio-input {
  background-color: #f0f0f0 !important;
  color: $black !important;
}

switch.black[checked] .wx-switch-input,
checkbox.black[checked] .wx-checkbox-input,
radio.black[checked] .wx-radio-input {
  background-color: $black !important;
  color: $white !important;
}

switch.white[checked] .wx-switch-input,
checkbox.white[checked] .wx-checkbox-input,
radio.white[checked] .wx-radio-input {
  background-color: $white !important;
  color: $black !important;
}
