/*
  ColorUi
*/
@import './vars';
/* ==================
          头像
 ==================== */

.cu-avatar {
  font-variant: small-caps;
  margin: 0;
  padding: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: $white;
  white-space: nowrap;
  position: relative;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  font-size: 1.5em;
  &.sm {
    width: 48px;
    height: 48px;
    font-size: 1em;
  }
  &.lg {
    width: 96px;
    height: 96px;
    font-size: 2em;
  }
  &.xl {
    width: 128px;
    height: 128px;
    font-size: 2.5em;
  }
  .avatar-text {
    font-size: 0.4em;
  }
}

.cu-avatar-group {
  direction: rtl;
  unicode-bidi: bidi-override;
  padding: 0 10px 0 40px;
  display: inline-block;
  .cu-avatar {
    margin-left: -30px;
    border: 4px solid #f1f1f1;
    vertical-align: middle;
  }
  .cu-avatar {
    &.sm {
      margin-left: -20px;
      border: 1px solid #f1f1f1;
    }
  }
}

/* ==================
          边框
 ==================== */

/* -- 实线 -- */

.solid,
.solid-top,
.solid-right,
.solid-bottom,
.solid-left,
.solids,
.solids-top,
.solids-right,
.solids-bottom,
.solids-left,
.dashed,
.dashed-top,
.dashed-right,
.dashed-bottom,
.dashed-left {
  position: relative;
  &::after {
    content: ' ';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.solid {
  &::after {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &-top {
    &::after {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  &-right {
    &::after {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  &-bottom {
    &::after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  &-left {
    &::after {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  &s {
    &::after {
      border: 8px solid #eee;
    }
    &-top {
      &::after {
        border-top: 8px solid #eee;
      }
    }
    &-right {
      &::after {
        border-right: 8px solid #eee;
      }
    }
    &-bottom {
      &::after {
        border-bottom: 8px solid #eee;
      }
    }
    &-left {
      &::after {
        border-left: 8px solid #eee;
      }
    }
  }
}

/* -- 虚线 -- */

.dashed {
  &::after {
    border: 1px dashed #ddd;
  }
  &-top {
    &::after {
      border-top: 1px dashed #ddd;
    }
  }
  &-right {
    &::after {
      border-right: 1px dashed #ddd;
    }
  }
  &-bottom {
    &::after {
      border-bottom: 1px dashed #ddd;
    }
  }
  &-left {
    &::after {
      border-left: 1px dashed #ddd;
    }
  }
}

/* -- 阴影 -- */

.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  &-lg {
    box-shadow: 0px 40px 100px 0px rgba(0, 0, 0, 0.07);
  }
  &-warp {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 20px;
      bottom: 30px;
      left: 20px;
      width: 50%;
      box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
      transform: rotate(-3deg);
      z-index: -1;
    }
    &:after {
      right: 20px;
      left: auto;
      transform: rotate(3deg);
    }
  }
  &-blur {
    position: relative;
    &::before {
      content: '';
      display: block;
      background: inherit;
      filter: blur(10px);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 10px;
      left: 10px;
      z-index: -1;
      opacity: 0.4;
      transform-origin: 0 0;
      border-radius: inherit;
      transform: scale(1, 1);
    }
  }
}

/* ==================
          按钮
 ==================== */

button.icon.lg {
  width: 80px;
  height: 80px;
}

.cu-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 30px;
  font-size: 28px;
  height: 64px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  margin-left: initial;
  transform: translate(0px, 0px);
  margin-right: initial;
  &::after {
    display: none;
  }
  &:not([class*='bg-']) {
    background-color: #f0f0f0;
  }
  &[class*='line'] {
    background-color: transparent;
    &::after {
      content: ' ';
      display: block;
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid currentColor;
      transform: scale(0.5);
      transform-origin: 0 0;
      box-sizing: border-box;
      border-radius: 12px;
      z-index: 1;
      pointer-events: none;
    }
  }
  &.round {
    &[class*='line'] {
      &::after {
        border-radius: 1000px;
      }
    }
  }
  &[class*='lines'] {
    &::after {
      border: 6px solid currentColor;
    }
  }
  &[class*='bg-'] {
    &::after {
      display: none;
    }
  }
  &.sm {
    padding: 0 20px;
    font-size: 20px;
    height: 48px;
  }
  &.lg {
    padding: 0 40px;
    font-size: 32px;
    height: 80px;
  }
  &.icon {
    width: 64px;
    height: 64px;
    border-radius: 500px;
    padding: 0;
    &.sm {
      width: 48px;
      height: 48px;
    }
  }
  &.shadow-blur {
    &::before {
      top: 4px;
      left: 4px;
      filter: blur(6px);
      opacity: 0.6;
    }
  }
  &.button-hover {
    transform: translate(1px, 1px);
  }
  &.block {
    display: flex;
  }
  &[disabled] {
    opacity: 0.6;
    color: $white;
  }
}

/* ==================
          徽章
 ==================== */

.cu-tag {
  font-size: 24px;
  vertical-align: middle;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 16px;
  height: 48px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  white-space: nowrap;
  &:not([class*='bg']):not([class*='line']) {
    background-color: #f1f1f1;
  }
  &[class*='line-'] {
    &::after {
      content: ' ';
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid currentColor;
      transform: scale(0.5);
      transform-origin: 0 0;
      box-sizing: border-box;
      border-radius: inherit;
      z-index: 1;
      pointer-events: none;
    }
  }
  &.radius {
    &[class*='line'] {
      &::after {
        border-radius: 12px;
      }
    }
  }
  &.round {
    &[class*='line'] {
      &::after {
        border-radius: 1000px;
      }
    }
  }
  + .cu-tag {
    margin-left: 10px;
  }
  &.sm {
    font-size: 20px;
    padding: 0px 12px;
    height: 32px;
  }
  &.badge {
    border-radius: 200px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    padding: 0px 10px;
    height: 28px;
    color: $white;
    &:not([class*='bg-']) {
      background-color: #dd514c;
    }
  }
  &:empty {
    &:not([class*='cuIcon-']) {
      padding: 0px;
      width: 16px;
      height: 16px;
      top: -4px;
      right: -4px;
    }
  }
  &[class*='cuIcon-'] {
    width: 32px;
    height: 32px;
    top: -4px;
    right: -4px;
  }
}

// .cu-tag[class*='line-']::after {
//   border-radius: 0;
// }

.cu-capsule {
  display: inline-flex;
  vertical-align: middle;
  + .cu-capsule {
    margin-left: 10px;
  }
  .cu-tag {
    margin: 0;
    &[class*='line-'] {
      &:last-child {
        &::after {
          border-left: 0px solid transparent;
        }
      }
      &:first-child {
        &::after {
          border-right: 0px solid transparent;
        }
      }
    }
  }
  &.radius {
    .cu-tag {
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      &:last-child::after,
      &[class*='line-'] {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }
  &.round {
    .cu-tag {
      &:first-child {
        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
        text-indent: 4px;
      }
      &:last-child::after,
      &:last-child {
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
        text-indent: -4px;
      }
    }
  }
}

/* ==================
         进度条
 ==================== */

.cu-progress {
  overflow: hidden;
  height: 28px;
  background-color: #ebeef5;
  display: inline-flex;
  align-items: center;
  width: 100%;
  + view,
  + text {
    line-height: 1;
  }
  &.xs {
    height: 10px;
  }
  &.sm {
    height: 20px;
  }
  view {
    width: 0;
    height: 100%;
    align-items: center;
    display: flex;
    justify-items: flex-end;
    justify-content: space-around;
    font-size: 20px;
    color: $white;
    transition: width 0.6s ease;
  }
  text {
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #666;
    text-indent: 10px;
  }
  &.text-progress {
    padding-right: 60px;
  }
  &.striped {
    view {
      background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: 72px 72px;
    }
  }
  &.active {
    view {
      animation: progress-stripes 2s linear infinite;
    }
  }
}

@keyframes progress-stripes {
  from {
    background-position: 72px 0;
  }

  to {
    background-position: 0 0;
  }
}

/* ==================
          加载
 ==================== */

.cu-load {
  display: block;
  line-height: 3em;
  text-align: center;
  &::before {
    font-family: 'cuIcon';
    display: inline-block;
    margin-right: 6px;
  }
  &.loading {
    &::before {
      content: '\e67a';
      animation: cuIcon-spin 2s infinite linear;
    }
    &::after {
      content: '加载中...';
    }
  }
  &.over {
    &::before {
      content: '\e64a';
    }
    &::after {
      content: '没有更多了';
    }
  }
  &.erro {
    &::before {
      content: '\e658';
    }
    &::after {
      content: '加载失败';
    }
  }
  &.load-icon {
    &::before {
      font-size: 32px;
    }
    &::after {
      display: none;
    }
    &.over {
      display: none;
    }
  }
  &.load-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 140px;
    left: 0;
    margin: auto;
    width: 260px;
    height: 260px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 0px 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    z-index: 9999;
    line-height: 2.4em;
    [class*='cuIcon-'] {
      font-size: 60px;
    }
    image {
      width: 70px;
      height: 70px;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: var(--white);
      border-radius: 50%;
      width: 200px;
      height: 200px;
      font-size: 10px;
      border-top: 6px solid rgba(0, 0, 0, 0.05);
      border-right: 6px solid rgba(0, 0, 0, 0.05);
      border-bottom: 6px solid rgba(0, 0, 0, 0.05);
      border-left: 6px solid var(--orange);
      animation: cuIcon-spin 1s infinite linear;
      z-index: -1;
    }
  }
  &.load-image {
    display: flex;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    image {
      width: 30%;
    }
  }
}

.load-progress {
  pointer-events: none;
  top: 0;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 2000;
  &.hide {
    display: none;
  }
  .load-progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    overflow: hidden;
    transition: all 200ms ease 0s;
  }
  .load-progress-spinner {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2000;
    display: block;
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: solid 4px transparent;
      border-top-color: inherit;
      border-left-color: inherit;
      border-radius: 50%;
      -webkit-animation: load-progress-spinner 0.4s linear infinite;
      animation: load-progress-spinner 0.4s linear infinite;
    }
  }
}

@-webkit-keyframes load-progress-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load-progress-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ==================
          列表
 ==================== */

.grayscale {
  filter: grayscale(1);
}

.cu-list {
  + .cu-list {
    margin-top: 30px;
  }
  > {
    .cu-item {
      transition: all 0.6s ease-in-out 0s;
      transform: translateX(0px);
      .move {
        position: absolute;
        right: 0;
        display: flex;
        width: 260px;
        height: 100%;
        transform: translateX(100%);
        view {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
        }
      }
      &.move-cur {
        transform: translateX(-260px);
      }
    }
  }
  &.menu {
    display: block;
    overflow: hidden;
    > {
      .cu-item {
        position: relative;
        display: flex;
        padding: 0 30px;
        min-height: 100px;
        background-color: $white;
        justify-content: space-between;
        align-items: center;
        &:last-child:after {
          border: none;
        }
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          border-bottom: 1px solid #ddd;
          border-radius: inherit;
          content: ' ';
          transform: scale(0.5);
          transform-origin: 0 0;
          pointer-events: none;
        }
        &.grayscale {
          background-color: #f5f5f5;
        }
        &.cur {
          background-color: #fcf7e9;
        }
        &.arrow {
          padding-right: 90px;
          &:before {
            content: '\e6a3';
            position: absolute;
            top: 0;
            right: 30px;
            bottom: 0;
            display: block;
            margin: auto;
            width: 30px;
            height: 30px;
            color: var(--grey);
            text-align: center;
            font-size: 34px;
            font-family: cuIcon;
            line-height: 30px;
          }
        }
        button {
          &.content {
            padding: 0;
            background-color: transparent;
            justify-content: flex-start;
            &:after {
              display: none;
            }
          }
        }
        .cu-avatar-group {
          .cu-avatar {
            border-color: $white;
          }
        }
        .content {
          font-size: 30px;
          line-height: 1.6em;
          flex: 1;
          > {
            view {
              &:first-child {
                display: flex;
                align-items: center;
              }
            }
            text {
              &[class*='cuIcon-'] {
                display: inline-block;
                margin-right: 10px;
                width: 1.6em;
                text-align: center;
              }
            }
            image {
              display: inline-block;
              margin-right: 10px;
              width: 1.6em;
              height: 1.6em;
              vertical-align: middle;
            }
          }
          .cu-tag {
            &.sm {
              display: inline-block;
              margin-left: 10px;
              height: 28px;
              font-size: 16px;
              line-height: 32px;
            }
            &:empty {
              right: 10px;
            }
          }
        }
        &.sm-border {
          > {
            .cu-item {
              &:after {
                left: 30px;
                width: calc(200% - 120px);
              }
            }
          }
        }
      }
    }
    &-avatar {
      overflow: hidden;
      > .cu-item {
        position: relative;
        display: flex;
        padding-right: 30px;
        height: 140px;
        background-color: $white;
        justify-content: flex-end;
        align-items: center;
        > .cu-avatar {
          position: absolute;
          left: 30px;
        }
        .flex {
          .text-cut {
            max-width: 510px;
          }
        }
        .content {
          position: absolute;
          left: 146px;
          width: calc(100% - 96px - 60px - 120px - 20px);
          line-height: 1.6em;
          &.flex-sub {
            width: calc(100% - 96px - 60px - 20px);
          }
          > view:first-child {
            font-size: 30px;
            display: flex;
            align-items: center;
          }
          .cu-tag {
            &.sm {
              display: inline-block;
              margin-left: 10px;
              height: 28px;
              font-size: 16px;
              line-height: 32px;
            }
          }
        }
        .action {
          width: 100px;
          text-align: center;
          view + view {
            margin-top: 10px;
          }
        }
      }
      &.comment {
        > .cu-item {
          padding: 30px 30px 30px 120px;
          height: auto;
          .content {
            position: relative;
            left: 0;
            width: auto;
            flex: 1;
          }
        }
        .cu-avatar {
          align-self: flex-start;
        }
      }
    }
  }
  &.grid {
    background-color: $white;
    text-align: center;
    > {
      .cu-item {
        position: relative;
        display: flex;
        padding: 20px 0 30px;
        transition-duration: 0s;
        flex-direction: column;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: inherit;
          content: ' ';
          transform: scale(0.5);
          transform-origin: 0 0;
          pointer-events: none;
        }
        text {
          display: block;
          margin-top: 10px;
          color: #888;
          font-size: 26px;
          line-height: 40px;
        }
        [class*='cuIcon-'] {
          position: relative;
          display: block;
          margin-top: 20px;
          width: 100%;
          font-size: 48px;
        }
        .cu-tag {
          right: auto;
          left: 50%;
          margin-left: 20px;
        }
        &.no-border {
          padding: 20px 10px;
          > {
            .cu-item {
              padding-top: 10px;
              padding-bottom: 20px;
              &:after {
                border: none;
              }
            }
          }
        }
      }
    }
    &.col-3 > .cu-item:nth-child(3n):after,
    &.col-4 > .cu-item:nth-child(4n):after,
    &.col-5 > .cu-item:nth-child(5n):after {
      border-right-width: 0;
    }
  }
  &.card-menu {
    overflow: hidden;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 20px;
  }
}

/* ==================
          操作条
 ==================== */

.cu-bar {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 100px;
  justify-content: space-between;
  .action {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    max-width: 100%;
    &.border-title {
      position: relative;
      top: -10px;
      text {
        &[class*='bg-'] {
          &:last-child {
            position: absolute;
            bottom: -0.5rem;
            min-width: 2rem;
            height: 6px;
            left: 0;
          }
        }
      }
    }
    &.sub-title {
      position: relative;
      top: -0.2rem;
      text {
        position: relative;
        z-index: 1;
        &[class*='bg-'] {
          &:last-child {
            position: absolute;
            display: inline-block;
            bottom: -0.2rem;
            border-radius: 6px;
            width: 100%;
            height: 0.6rem;
            left: 0.6rem;
            opacity: 0.3;
            z-index: 0;
          }
        }
        &[class*='text-'] {
          :last-child {
            position: absolute;
            display: inline-block;
            bottom: -0.7rem;
            left: 0.5rem;
            opacity: 0.2;
            z-index: 0;
            text-align: right;
            font-weight: 900;
            font-size: 36px;
          }
        }
      }
    }
    &:first-child {
      margin-left: 30px;
      font-size: 30px;
      > {
        text {
          &[class*='cuIcon-'] {
            margin-left: -0.3em;
            margin-right: 0.3em;
          }
        }
      }
    }
    &:last-child {
      margin-right: 30px;
    }
    text {
      &.text-cut {
        text-align: left;
        width: 100%;
      }
    }
    > {
      text[class*='cuIcon-'],
      view[class*='cuIcon-'] {
        font-size: 36px;
      }
      text[class*='cuIcon-'] + text[class*='cuIcon-'] {
        margin-left: 0.5em;
      }
    }
  }
  .justify-center {
    .action.border-title text:last-child,
    .action.sub-title text:last-child {
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }
  }
  .cu-avatar {
    &:first-child {
      margin-left: 20px;
    }
  }
  .content {
    position: absolute;
    text-align: center;
    width: calc(100% - 340px);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 60px;
    font-size: 32px;
    line-height: 60px;
    cursor: none;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &.ios {
    .content {
      bottom: 7px;
      height: 30px;
      font-size: 32px;
      line-height: 30px;
    }
  }
  &.btn-group {
    justify-content: space-around;
    button {
      padding: 20px 32px;
      flex: 1;
      margin: 0 20px;
      max-width: 50%;
    }
  }
  .search-form {
    background-color: #f5f5f5;
    line-height: 64px;
    height: 64px;
    font-size: 24px;
    color: #666;
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
    + .action {
      margin-right: 20px;
    }
    input {
      flex: 1;
      padding-right: 20px;
      height: 64px;
      line-height: 64px;
      font-size: 26px;
    }
    [class*='cuIcon-'] {
      margin: 0 0.5em 0 0.8em;
      &::before {
        top: 0px;
      }
    }
  }
  &.foot {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1024;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
  }
  &.tabbar {
    padding: 0;
    height: calc(100px + env(safe-area-inset-bottom) / 2);
    padding-bottom: calc(env(safe-area-inset-bottom) / 2);
    &.shadow {
      box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
    }
    .action {
      font-size: 22px;
      position: relative;
      flex: 1;
      text-align: center;
      padding: 0;
      display: block;
      height: auto;
      line-height: 1;
      margin: 0;
      background-color: inherit;
      overflow: initial;
      &.add-action {
        position: relative;
        z-index: 2;
        padding-top: 50px;
        [class*='cuIcon-'] {
          position: absolute;
          width: 70px;
          z-index: 2;
          height: 70px;
          border-radius: 50%;
          line-height: 70px;
          font-size: 50px;
          top: -35px;
          left: 0;
          right: 0;
          margin: auto;
          padding: 0;
          &::after {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            top: -50px;
            left: 0;
            right: 0;
            margin: auto;
            box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.08);
            border-radius: 50px;
            background-color: inherit;
            z-index: 0;
          }
          &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 30px;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: auto;
            background-color: inherit;
            z-index: 1;
          }
        }
      }
      .cuIcon-cu-image {
        margin: 0 auto;
        image {
          width: 50px;
          height: 50px;
          display: inline-block;
        }
      }
    }
    &.shop {
      .action {
        width: 140px;
        flex: initial;
      }
    }
    .btn-group {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 10px;
    }
    button {
      &.action {
        &::after {
          border: 0;
        }
        [class*='cuIcon-'] {
          width: 100px;
          position: relative;
          display: block;
          height: auto;
          margin: 0 auto 10px;
          text-align: center;
          font-size: 40px;
        }
      }
    }
    .submit {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      position: relative;
      flex: 2;
      align-self: stretch;
      &:last-child {
        flex: 2.6;
      }
      + .submit {
        flex: 2;
      }
    }
    &.border {
      .action {
        &::before {
          content: ' ';
          width: 200%;
          height: 200%;
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(0.5);
          transform-origin: 0 0;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          z-index: 3;
        }
        &:last-child {
          &:before {
            display: none;
          }
        }
      }
    }
  }
  &.input {
    padding-right: 20px;
    background-color: $white;
    input {
      overflow: initial;
      line-height: 64px;
      height: 64px;
      min-height: 64px;
      flex: 1;
      font-size: 30px;
      margin: 0 20px;
      + .action {
        margin-right: 20px;
        margin-left: 0px;
      }
    }
    .action {
      margin-left: 20px;
      [class*='cuIcon-'] {
        font-size: 48px;
      }
      &:first-child {
        [class*='cuIcon-'] {
          margin-left: 0px;
        }
      }
    }
  }
}

.cu-bar.fixed,
.nav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1024;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.cu-tabbar-height {
  min-height: 100px;
  height: calc(100px + env(safe-area-inset-bottom) / 2);
}

.cu-custom {
  display: block;
  position: relative;
  .cu-bar {
    min-height: 0px;
    padding-right: 200px;
    box-shadow: 0px 0px 0px;
    z-index: 9999;
    .content {
      width: calc(100% - 440px);
      image {
        height: 60px;
        width: 240px;
      }
    }
    .border-custom {
      position: relative;
      background: rgba(0, 0, 0, 0.15);
      border-radius: 1000px;
      height: 30px;
      &::after {
        content: ' ';
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        transform: scale(0.5);
        transform-origin: 0 0;
        pointer-events: none;
        box-sizing: border-box;
        border: 1px solid $white;
        opacity: 0.5;
      }
      &::before {
        content: ' ';
        width: 1px;
        height: 110%;
        position: absolute;
        top: 22.5%;
        left: 0;
        right: 0;
        margin: auto;
        transform: scale(0.5);
        transform-origin: 0 0;
        pointer-events: none;
        box-sizing: border-box;
        opacity: 0.6;
        background-color: $white;
      }
      text {
        display: block;
        flex: 1;
        margin: auto !important;
        text-align: center;
        font-size: 34px;
      }
    }
  }
}

/* ==================
         导航栏
 ==================== */

.nav {
  white-space: nowrap;
  .cu-item {
    height: 90px;
    display: inline-block;
    line-height: 90px;
    margin: 0 10px;
    padding: 0 20px;
    &.cur {
      border-bottom: 4px solid;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
/* ==================
         时间轴
 ==================== */

.cu-timeline {
  display: block;
  background-color: var(--white);
}

.cu-timeline .cu-time {
  width: 120px;
  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  color: #888;
  display: block;
}

.cu-timeline > .cu-item {
  padding: 30px 30px 30px 120px;
  position: relative;
  display: block;
  z-index: 0;
}

.cu-timeline > .cu-item:not([class*='text-']) {
  color: #ccc;
}

.cu-timeline > .cu-item::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  background-color: #ddd;
  left: 60px;
  height: 100%;
  top: 0;
  z-index: 8;
}

.cu-timeline > .cu-item::before {
  font-family: 'cuIcon';
  display: block;
  position: absolute;
  top: 36px;
  z-index: 9;
  background-color: var(--white);
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  line-height: 50px;
  left: 36px;
}

.cu-timeline > .cu-item:not([class*='cuIcon-'])::before {
  content: '\e763';
}

.cu-timeline > .cu-item[class*='cuIcon-']::before {
  background-color: var(--white);
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  line-height: 50px;
  left: 36px;
}

.cu-timeline > .cu-item > .content {
  padding: 30px;
  border-radius: 6px;
  display: block;
  line-height: 1.6;
}

.cu-timeline > .cu-item > .content:not([class*='bg-']) {
  background-color: #f1f1f1;
  color: #666;
}

.cu-timeline > .cu-item > .content + .content {
  margin-top: 20px;
}

/* ==================
         聊天
 ==================== */

.cu-chat {
  display: flex;
  flex-direction: column;
}

.cu-chat .cu-item {
  display: flex;
  padding: 30px 30px 70px;
  position: relative;
}

.cu-chat .cu-item > .cu-avatar {
  width: 80px;
  height: 80px;
}

.cu-chat .cu-item > .main {
  max-width: calc(100% - 260px);
  margin: 0 40px;
  display: flex;
  align-items: center;
}

.cu-chat .cu-item > image {
  height: 320px;
}

.cu-chat .cu-item > .main .content {
  padding: 20px;
  border-radius: 6px;
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  font-size: 30px;
  position: relative;
  min-height: 80px;
  line-height: 40px;
  text-align: left;
}

.cu-chat .cu-item > .main .content:not([class*='bg-']) {
  background-color: var(--white);
  color: #666;
}

.cu-chat .cu-item .date {
  position: absolute;
  font-size: 24px;
  color: var(--grey);
  width: calc(100% - 320px);
  bottom: 20px;
  left: 160px;
}

.cu-chat .cu-item .action {
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.cu-chat .cu-item > .main .content::after {
  content: '';
  top: 27px;
  transform: rotate(45deg);
  position: absolute;
  z-index: 100;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  left: -12px;
  right: initial;
  background-color: inherit;
}

.cu-chat .cu-item.self > .main .content::after {
  left: auto;
  right: -12px;
}

.cu-chat .cu-item > .main .content::before {
  content: '';
  top: 30px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  left: -12px;
  right: initial;
  background-color: inherit;
  filter: blur(5px);
  opacity: 0.3;
}

.cu-chat .cu-item > .main .content:not([class*='bg-'])::before {
  background-color: var(--black);
  opacity: 0.1;
}

.cu-chat .cu-item.self > .main .content::before {
  left: auto;
  right: -12px;
}

.cu-chat .cu-item.self {
  justify-content: flex-end;
  text-align: right;
}

.cu-chat .cu-info {
  display: inline-block;
  margin: 20px auto;
  font-size: 24px;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: var(--white);
  max-width: 400px;
  line-height: 1.4;
}

/* ==================
         卡片
 ==================== */

.cu-card {
  display: block;
  overflow: hidden;
}

.cu-card > .cu-item {
  display: block;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 10px;
  margin: 30px;
}

.cu-card > .cu-item.shadow-blur {
  overflow: initial;
}

.cu-card.no-card > .cu-item {
  margin: 0px;
  border-radius: 0px;
}

.cu-card .grid.grid-square {
  margin-bottom: -20px;
}

.cu-card.case .image {
  position: relative;
}

.cu-card.case .image image {
  width: 100%;
}

.cu-card.case .image .cu-tag {
  position: absolute;
  right: 0;
  top: 0;
}

.cu-card.case .image .cu-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  padding: 0px 30px;
}

.cu-card.case.no-card .image {
  margin: 30px 30px 0;
  overflow: hidden;
  border-radius: 10px;
}

.cu-card.dynamic {
  display: block;
}

.cu-card.dynamic > .cu-item {
  display: block;
  background-color: var(--white);
  overflow: hidden;
}

.cu-card.dynamic > .cu-item > .text-content {
  padding: 0 30px 0;
  max-height: 6.4em;
  overflow: hidden;
  font-size: 30px;
  margin-bottom: 20px;
}

.cu-card.dynamic > .cu-item .square-img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
}

.cu-card.dynamic > .cu-item .only-img {
  width: 100%;
  height: 320px;
  border-radius: 6px;
}

/* card.dynamic>.cu-item .comment {
  padding: 20px;
  background-color: #f1f1f1;
  margin: 0 30px 30px;
  border-radius: 6px;
} */

.cu-card.article {
  display: block;
}

.cu-card.article > .cu-item {
  padding-bottom: 30px;
}

.cu-card.article > .cu-item .title {
  font-size: 30px;
  font-weight: 900;
  color: var(--black);
  line-height: 100px;
  padding: 0 30px;
}

.cu-card.article > .cu-item .content {
  display: flex;
  padding: 0 30px;
}

.cu-card.article > .cu-item .content > image {
  width: 240px;
  height: 6.4em;
  margin-right: 20px;
  border-radius: 6px;
}

.cu-card.article > .cu-item .content .desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cu-card.article > .cu-item .content .text-content {
  font-size: 28px;
  color: #888;
  height: 4.8em;
  overflow: hidden;
}

/* ==================
         表单
 ==================== */

.cu-form-group {
  background-color: var(--white);
  padding: 1px 30px;
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: space-between;
}

.cu-form-group + .cu-form-group {
  border-top: 1px solid #eee;
}

.cu-form-group .title {
  text-align: justify;
  padding-right: 30px;
  font-size: 30px;
  position: relative;
  height: 60px;
  line-height: 60px;
}

.cu-form-group input {
  flex: 1;
  font-size: 30px;
  color: #555;
  padding-right: 20px;
}

.cu-form-group > text[class*='cuIcon-'] {
  font-size: 36px;
  padding: 0;
  box-sizing: border-box;
}

.cu-form-group.top .title {
  height: 1em;
  line-height: 1;
  align-self: flex-start;
  margin-top: 16px;
}

.cu-form-group textarea {
  margin: 32px 0 30px;
  height: 4.6em;
  width: 100%;
  line-height: 1.2em;
  flex: 1;
  font-size: 28px;
  padding: 0;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: top;
}

.cu-form-group textarea .placeholder {
  color: transparent;
}

.cu-form-group textarea::after {
  content: attr(data-placeholder);
  color: gray;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.2s;
  opacity: 1;
}

.cu-form-group textarea.value::after {
  opacity: 0;
}

.cu-form-group picker {
  flex: 1;
  padding-right: 40px;
  overflow: hidden;
  position: relative;
}

.cu-form-group picker .picker {
  line-height: 100px;
  font-size: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: right;
}

.cu-form-group picker::after {
  font-family: cuIcon;
  display: block;
  content: '\e6a3';
  position: absolute;
  font-size: 34px;
  color: var(--grey);
  line-height: 100px;
  width: 60px;
  text-align: center;
  top: 0;
  bottom: 0;
  right: -20px;
  margin: auto;
}

.cu-form-group textarea[disabled],
.cu-form-group textarea[disabled] .placeholder {
  color: transparent;
}

/* ==================
         模态窗口
 ==================== */

.cu-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1110;
  opacity: 0;
  outline: 0;
  text-align: center;
  -ms-transform: scale(1.185);
  transform: scale(1.185);
  backface-visibility: hidden;
  perspective: 2000px;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out 0s;
  pointer-events: none;
}

.cu-modal::before {
  content: '\200B';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cu-modal.show {
  opacity: 1;
  transition-duration: 0.3s;
  -ms-transform: scale(1);
  transform: scale(1);
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
}

.cu-dialog {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  max-width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
}

.cu-modal.bottom-modal::before {
  vertical-align: bottom;
}

.cu-modal.bottom-modal .cu-dialog {
  width: 100%;
  border-radius: 0;
}

.cu-modal.bottom-modal {
  margin-bottom: -1000px;
}

.cu-modal.bottom-modal.show {
  margin-bottom: 0;
}

.cu-modal.drawer-modal {
  transform: scale(1);
  display: flex;
}

.cu-modal.drawer-modal .cu-dialog {
  height: 100%;
  min-width: 200px;
  border-radius: 0;
  margin: initial;
  transition-duration: 0.3s;
}

.cu-modal.drawer-modal.justify-start .cu-dialog {
  transform: translateX(-100%);
}

.cu-modal.drawer-modal.justify-end .cu-dialog {
  transform: translateX(100%);
}

.cu-modal.drawer-modal.show .cu-dialog {
  transform: translateX(0%);
}

/* ==================
         轮播
 ==================== */

swiper.square-dot .wx-swiper-dot {
  background-color: var(--white);
  opacity: 0.4;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out 0s;
}

swiper.square-dot .wx-swiper-dot.wx-swiper-dot-active {
  opacity: 1;
  width: 30px;
}

swiper.round-dot .wx-swiper-dot {
  width: 10px;
  height: 10px;
  top: -4px;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
}

swiper.round-dot .wx-swiper-dot.wx-swiper-dot-active::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--white);
  border-radius: 20px;
}

swiper.round-dot .wx-swiper-dot.wx-swiper-dot-active {
  width: 18px;
  height: 18px;
  top: 0px;
}

.screen-swiper {
  min-height: 375px;
}

.screen-swiper image,
.screen-swiper video,
.swiper-item image,
.swiper-item video {
  width: 100%;
  display: block;
  height: 100%;
  margin: 0;
  pointer-events: none;
}

.card-swiper {
  height: 420px;
}

.card-swiper swiper-item {
  width: 610px !important;
  left: 70px;
  box-sizing: border-box;
  padding: 40px 0px 70px;
  overflow: initial;
}

.card-swiper swiper-item .swiper-item {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 10px;
  transform: scale(0.9);
  transition: all 0.2s ease-in 0s;
  overflow: hidden;
}

.card-swiper swiper-item.cur .swiper-item {
  transform: none;
  transition: all 0.2s ease-in 0s;
}

.tower-swiper {
  height: 420px;
  position: relative;
  max-width: 750px;
  overflow: hidden;
}

.tower-swiper .tower-item {
  position: absolute;
  width: 300px;
  height: 380px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto;
  transition: all 0.2s ease-in 0s;
  opacity: 1;
}

.tower-swiper .tower-item.none {
  opacity: 0;
}

.tower-swiper .tower-item .swiper-item {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

/* ==================
          步骤条
 ==================== */

.cu-steps {
  display: flex;
}

scroll-view.cu-steps {
  display: block;
  white-space: nowrap;
}

scroll-view.cu-steps .cu-item {
  display: inline-block;
  position: relative;
}

.cu-steps .cu-item {
  flex: 1;
  text-align: center;
  position: relative;
  min-width: 100px;
}

.cu-steps .cu-item:not([class*='text-']) {
  color: var(--grey);
}

.cu-steps .cu-item [class*='cuIcon-'],
.cu-steps .cu-item .num {
  display: block;
  font-size: 40px;
  line-height: 80px;
}

.cu-steps .cu-item::before,
.cu-steps .cu-item::after,
.cu-steps.steps-arrow .cu-item::before,
.cu-steps.steps-arrow .cu-item::after {
  content: '';
  display: block;
  position: absolute;
  height: 0rem;
  width: calc(100% - 80px);
  border-bottom: 1px solid #ccc;
  left: calc(0rem - (100% - 80px) / 2);
  top: 40px;
  z-index: 0;
}

.cu-steps.steps-arrow .cu-item::before,
.cu-steps.steps-arrow .cu-item::after {
  content: '\e6a3';
  font-family: 'cuIcon';
  height: 30px;
  border-bottom-width: 0px;
  line-height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #ccc;
}

.cu-steps.steps-bottom .cu-item::before,
.cu-steps.steps-bottom .cu-item::after {
  bottom: 40px;
  top: initial;
}

.cu-steps .cu-item::after {
  border-bottom: 1px solid currentColor;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.cu-steps .cu-item[class*='text-']::after {
  width: calc(100% - 80px);
  color: currentColor;
}

.cu-steps .cu-item:first-child::before,
.cu-steps .cu-item:first-child::after {
  display: none;
}

.cu-steps .cu-item .num {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin: 20px auto;
  font-size: 24px;
  border: 1px solid currentColor;
  position: relative;
  overflow: hidden;
}

.cu-steps .cu-item[class*='text-'] .num {
  background-color: currentColor;
}

.cu-steps .cu-item .num::before,
.cu-steps .cu-item .num::after {
  content: attr(data-index);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s ease-in-out 0s;
  transform: translateY(0px);
}

.cu-steps .cu-item[class*='text-'] .num::before {
  transform: translateY(-40px);
  color: var(--white);
}

.cu-steps .cu-item .num::after {
  transform: translateY(40px);
  color: var(--white);
  transition: all 0.3s ease-in-out 0s;
}

.cu-steps .cu-item[class*='text-'] .num::after {
  content: '\e645';
  font-family: 'cuIcon';
  color: var(--white);
  transform: translateY(0px);
}

.cu-steps .cu-item[class*='text-'] .num.err::after {
  content: '\e646';
}

/* ==================
          布局
 ==================== */

/*  -- flex弹性布局 -- */

.flex {
  display: flex;
}

.basis-xs {
  flex-basis: 20%;
}

.basis-sm {
  flex-basis: 40%;
}

.basis-df {
  flex-basis: 50%;
}

.basis-lg {
  flex-basis: 60%;
}

.basis-xl {
  flex-basis: 80%;
}

.flex-sub {
  flex: 1;
}

.flex-twice {
  flex: 2;
}

.flex-treble {
  flex: 3;
}

.flex-direction {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: flex-center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* grid布局 */

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid.grid-square {
  overflow: hidden;
}

.grid.grid-square .cu-tag {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 6px;
  padding: 6px 12px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.grid.grid-square > view > text[class*='cuIcon-'] {
  font-size: 52px;
  position: absolute;
  color: var(--grey);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid.grid-square > view {
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.grid.col-1.grid-square > view {
  padding-bottom: 100%;
  height: 0;
  margin-right: 0;
}

.grid.col-2.grid-square > view {
  padding-bottom: calc((100% - 20px) / 2);
  height: 0;
  width: calc((100% - 20px) / 2);
}

.grid.col-2.grid-square > view:nth-child(2n) {
  margin-right: 0;
}

.grid.col-3.grid-square > view {
  padding-bottom: calc((100% - 40px) / 3);
  height: 0;
  width: calc((100% - 40px) / 3);
}

.grid.col-3.grid-square > view:nth-child(3n) {
  margin-right: 0;
}

.grid.col-4.grid-square > view {
  padding-bottom: calc((100% - 60px) / 4);
  height: 0;
  width: calc((100% - 60px) / 4);
}

.grid.col-4.grid-square > view:nth-child(4n) {
  margin-right: 0;
}

.grid.col-5.grid-square > view {
  padding-bottom: calc((100% - 80px) / 5);
  height: 0;
  width: calc((100% - 80px) / 5);
}

.grid.col-1 > view {
  width: 100%;
}

.grid.col-2 > view {
  width: 50%;
}

.grid.col-3 > view {
  width: 33.33%;
}

.grid.col-4 > view {
  width: 25%;
}

.grid.col-5 > view {
  width: 20%;
}

/*  -- 内外边距 -- */

.margin-0 {
  margin: 0;
}

.margin-xs {
  margin: 10px;
}

.margin-sm {
  margin: 20px;
}

.margin {
  margin: 30px;
}

.margin-lg {
  margin: 40px;
}

.margin-xl {
  margin: 50px;
}

.margin-top-xs {
  margin-top: 10px;
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-top {
  margin-top: 30px;
}

.margin-top-lg {
  margin-top: 40px;
}

.margin-top-xl {
  margin-top: 50px;
}

.margin-right-xs {
  margin-right: 10px;
}

.margin-right-sm {
  margin-right: 20px;
}

.margin-right {
  margin-right: 30px;
}

.margin-right-lg {
  margin-right: 40px;
}

.margin-right-xl {
  margin-right: 50px;
}

.margin-bottom-xs {
  margin-bottom: 10px;
}

.margin-bottom-sm {
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-bottom-lg {
  margin-bottom: 40px;
}

.margin-bottom-xl {
  margin-bottom: 50px;
}

.margin-left-xs {
  margin-left: 10px;
}

.margin-left-sm {
  margin-left: 20px;
}

.margin-left {
  margin-left: 30px;
}

.margin-left-lg {
  margin-left: 40px;
}

.margin-left-xl {
  margin-left: 50px;
}

.margin-lr-xs {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-lr-sm {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-lr {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-lr-lg {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-lr-xl {
  margin-left: 50px;
  margin-right: 50px;
}

.margin-tb-xs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-tb-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-tb {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-tb-lg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-tb-xl {
  margin-top: 50px;
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

.padding-xs {
  padding: 10px;
}

.padding-sm {
  padding: 20px;
}

.padding {
  padding: 30px;
}

.padding-lg {
  padding: 40px;
}

.padding-xl {
  padding: 50px;
}

.padding-top-xs {
  padding-top: 10px;
}

.padding-top-sm {
  padding-top: 20px;
}

.padding-top {
  padding-top: 30px;
}

.padding-top-lg {
  padding-top: 40px;
}

.padding-top-xl {
  padding-top: 50px;
}

.padding-right-xs {
  padding-right: 10px;
}

.padding-right-sm {
  padding-right: 20px;
}

.padding-right {
  padding-right: 30px;
}

.padding-right-lg {
  padding-right: 40px;
}

.padding-right-xl {
  padding-right: 50px;
}

.padding-bottom-xs {
  padding-bottom: 10px;
}

.padding-bottom-sm {
  padding-bottom: 20px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.padding-bottom-lg {
  padding-bottom: 40px;
}

.padding-bottom-xl {
  padding-bottom: 50px;
}

.padding-left-xs {
  padding-left: 10px;
}

.padding-left-sm {
  padding-left: 20px;
}

.padding-left {
  padding-left: 30px;
}

.padding-left-lg {
  padding-left: 40px;
}

.padding-left-xl {
  padding-left: 50px;
}

.padding-lr-xs {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-lr-sm {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-lr {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-lr-lg {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-lr-xl {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-tb-xs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-tb-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-tb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-tb-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-tb-xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -- 浮动 --  */

.cf::after,
.cf::before {
  content: ' ';
  display: table;
}

.cf::after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* ==================
          背景
 ==================== */

.line-red::after,
.lines-red::after {
  border-color: var(--red);
}

.line-orange::after,
.lines-orange::after {
  border-color: var(--orange);
}

.line-yellow::after,
.lines-yellow::after {
  border-color: var(--yellow);
}

.line-olive::after,
.lines-olive::after {
  border-color: var(--olive);
}

.line-green::after,
.lines-green::after {
  border-color: var(--green);
}

.line-cyan::after,
.lines-cyan::after {
  border-color: var(--cyan);
}

.line-blue::after,
.lines-blue::after {
  border-color: var(--blue);
}

.line-purple::after,
.lines-purple::after {
  border-color: var(--purple);
}

.line-mauve::after,
.lines-mauve::after {
  border-color: var(--mauve);
}

.line-pink::after,
.lines-pink::after {
  border-color: var(--pink);
}

.line-brown::after,
.lines-brown::after {
  border-color: var(--brown);
}

.line-grey::after,
.lines-grey::after {
  border-color: var(--grey);
}

.line-gray::after,
.lines-gray::after {
  border-color: var(--grey);
}

.line-black::after,
.lines-black::after {
  border-color: var(--black);
}

.line-white::after,
.lines-white::after {
  border-color: var(--white);
}

.bg-red {
  background-color: var(--red);
  color: var(--white);
}

.bg-orange {
  background-color: var(--orange);
  color: var(--white);
}

.bg-yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.bg-olive {
  background-color: var(--olive);
  color: var(--white);
}

.bg-green {
  background-color: var(--green);
  color: var(--white);
}

.bg-cyan {
  background-color: var(--cyan);
  color: var(--white);
}

.bg-blue {
  background-color: var(--blue);
  color: var(--white);
}

.bg-purple {
  background-color: var(--purple);
  color: var(--white);
}

.bg-mauve {
  background-color: var(--mauve);
  color: var(--white);
}

.bg-pink {
  background-color: var(--pink);
  color: var(--white);
}

.bg-brown {
  background-color: var(--brown);
  color: var(--white);
}

.bg-grey {
  background-color: var(--grey);
  color: var(--white);
}

.bg-gray {
  background-color: #f0f0f0;
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
  color: var(--darkGray);
}

.bg-shadeTop {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01));
  color: var(--white);
}

.bg-shadeBottom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
  color: var(--white);
}

.bg-red.light {
  color: var(--red);
  background-color: var(--redLight);
}

.bg-orange.light {
  color: var(--orange);
  background-color: var(--orangeLight);
}

.bg-yellow.light {
  color: var(--yellow);
  background-color: var(--yellowLight);
}

.bg-olive.light {
  color: var(--olive);
  background-color: var(--oliveLight);
}

.bg-green.light {
  color: var(--green);
  background-color: var(--greenLight);
}

.bg-cyan.light {
  color: var(--cyan);
  background-color: var(--cyanLight);
}

.bg-blue.light {
  color: var(--blue);
  background-color: var(--blueLight);
}

.bg-purple.light {
  color: var(--purple);
  background-color: var(--purpleLight);
}

.bg-mauve.light {
  color: var(--mauve);
  background-color: var(--mauveLight);
}

.bg-pink.light {
  color: var(--pink);
  background-color: var(--pinkLight);
}

.bg-brown.light {
  color: var(--brown);
  background-color: var(--brownLight);
}

.bg-grey.light {
  color: var(--grey);
  background-color: var(--greyLight);
}

.bg-gray.light {
  color: #666;
  background-color: #fadbd9;
}

.bg-gray.light {
  color: #888;
  background-color: #f1f1f1;
}

.bg-gradual-red {
  background-image: var(--gradualRed);
  color: var(--white);
}

.bg-gradual-orange {
  background-image: var(--gradualOrange);
  color: var(--white);
}

.bg-gradual-green {
  background-image: var(--gradualGreen);
  color: var(--white);
}

.bg-gradual-purple {
  background-image: var(--gradualPurple);
  color: var(--white);
}

.bg-gradual-pink {
  background-image: var(--gradualPink);
  color: var(--white);
}

.bg-gradual-blue {
  background-image: var(--gradualBlue);
  color: var(--white);
}

.shadow[class*='-red'] {
  box-shadow: var(--ShadowSize) var(--redShadow);
}

.shadow[class*='-orange'] {
  box-shadow: var(--ShadowSize) var(--orangeShadow);
}

.shadow[class*='-yellow'] {
  box-shadow: var(--ShadowSize) var(--yellowShadow);
}

.shadow[class*='-olive'] {
  box-shadow: var(--ShadowSize) var(--oliveShadow);
}

.shadow[class*='-green'] {
  box-shadow: var(--ShadowSize) var(--greenShadow);
}

.shadow[class*='-cyan'] {
  box-shadow: var(--ShadowSize) var(--cyanShadow);
}

.shadow[class*='-blue'] {
  box-shadow: var(--ShadowSize) var(--blueShadow);
}

.shadow[class*='-purple'] {
  box-shadow: var(--ShadowSize) var(--purpleShadow);
}

.shadow[class*='-mauve'] {
  box-shadow: var(--ShadowSize) var(--mauveShadow);
}

.shadow[class*='-pink'] {
  box-shadow: var(--ShadowSize) var(--pinkShadow);
}

.cu-btn.shadow[class*='-brown'] {
  box-shadow: var(--ShadowSize) var(--brownShadow);
}

.cu-btn.shadow[class*='-grey'] {
  box-shadow: var(--ShadowSize) var(--greyShadow);
}

.cu-btn.shadow[class*='-gray'] {
  box-shadow: var(--ShadowSize) var(--grayShadow);
}

.cu-btn.shadow[class*='-black'] {
  box-shadow: var(--ShadowSize) var(--blackShadow);
}

.shadow[class*='-white'] {
  box-shadow: var(--ShadowSize) var(--blackShadow);
}

.text-shadow[class*='-red'] {
  text-shadow: var(--ShadowSize) var(--redShadow);
}

.text-shadow[class*='-orange'] {
  text-shadow: var(--ShadowSize) var(--orangeShadow);
}

.text-shadow[class*='-yellow'] {
  text-shadow: var(--ShadowSize) var(--yellowShadow);
}

.text-shadow[class*='-olive'] {
  text-shadow: var(--ShadowSize) var(--oliveShadow);
}

.text-shadow[class*='-green'] {
  text-shadow: var(--ShadowSize) var(--greenShadow);
}

.text-shadow[class*='-cyan'] {
  text-shadow: var(--ShadowSize) var(--cyanShadow);
}

.text-shadow[class*='-blue'] {
  text-shadow: var(--ShadowSize) var(--blueShadow);
}

.text-shadow[class*='-purple'] {
  text-shadow: var(--ShadowSize) var(--purpleShadow);
}

.text-shadow[class*='-mauve'] {
  text-shadow: var(--ShadowSize) var(--mauveShadow);
}

.text-shadow[class*='-pink'] {
  text-shadow: var(--ShadowSize) var(--pinkShadow);
}

.text-shadow[class*='-brown'] {
  text-shadow: var(--ShadowSize) var(--brownShadow);
}

.text-shadow[class*='-grey'] {
  text-shadow: var(--ShadowSize) var(--greyShadow);
}

.text-shadow[class*='-gray'] {
  text-shadow: var(--ShadowSize) var(--grayShadow);
}

.text-shadow[class*='-black'] {
  text-shadow: var(--ShadowSize) var(--blackShadow);
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-mask {
  background-color: var(--black);
  position: relative;
}

.bg-mask::after {
  content: '';
  border-radius: inherit;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.bg-mask view,
.bg-mask cover-view {
  z-index: 5;
  position: relative;
}

.bg-video {
  position: relative;
}

.bg-video video {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

/* ==================
          文本
 ==================== */

.text-xs {
  font-size: 20px;
}

.text-sm {
  font-size: 24px;
}

.text-df {
  font-size: 28px;
}

.text-lg {
  font-size: 32px;
}

.text-xl {
  font-size: 36px;
}

.text-xxl {
  font-size: 44px;
}

.text-sl {
  font-size: 80px;
}

.text-xsl {
  font-size: 120px;
}

.text-Abc {
  text-transform: Capitalize;
}

.text-ABC {
  text-transform: Uppercase;
}

.text-abc {
  text-transform: Lowercase;
}

.text-price::before {
  content: '¥';
  font-size: 80%;
  margin-right: 4px;
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-content {
  line-height: 1.6;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-red,
.line-red,
.lines-red {
  color: var(--red);
}

.text-orange,
.line-orange,
.lines-orange {
  color: var(--orange);
}

.text-yellow,
.line-yellow,
.lines-yellow {
  color: var(--yellow);
}

.text-olive,
.line-olive,
.lines-olive {
  color: var(--olive);
}

.text-green,
.line-green,
.lines-green {
  color: var(--green);
}

.text-cyan,
.line-cyan,
.lines-cyan {
  color: var(--cyan);
}

.text-blue,
.line-blue,
.lines-blue {
  color: var(--blue);
}

.text-purple,
.line-purple,
.lines-purple {
  color: var(--purple);
}

.text-mauve,
.line-mauve,
.lines-mauve {
  color: var(--mauve);
}

.text-pink,
.line-pink,
.lines-pink {
  color: var(--pink);
}

.text-brown,
.line-brown,
.lines-brown {
  color: var(--brown);
}

.text-grey,
.line-grey,
.lines-grey {
  color: var(--grey);
}

.text-gray,
.line-gray,
.lines-gray {
  color: var(--grey);
}

.text-black,
.line-black,
.lines-black {
  color: var(--black);
}

.text-white,
.line-white,
.lines-white {
  color: var(--white);
}

.text-shadow {
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}
