/* 标准色 */
$red: #e54d42 !default;
$orange: #f37b1d !default;
$yellow: #fbbd08 !default;
$olive: #8dc63f !default;
$green: #39b54a !default;
$cyan: #1cbbb4 !default;
$blue: #0081ff !default;
$purple: #6739b6 !default;
$mauve: #9c26b0 !default;
$pink: #e03997 !default;
$brown: #a5673f !default;
$grey: #8799a3 !default;
$black: #333333 !default;
$darkGray: #666666 !default;
$gray: #aaaaaa !default;
$ghostWhite: #f1f1f1 !default;
$white: #ffffff !default;

/* 浅色 */
$redLight: #fadbd9 !default;
$orangeLight: #fde6d2 !default;
$yellowLight: #fef2ce !default;
$oliveLight: #e8f4d9 !default;
$greenLight: #d7f0db !default;
$cyanLight: #d2f1f0 !default;
$blueLight: #cce6ff !default;
$purpleLight: #e1d7f0 !default;
$mauveLight: #ebd4ef !default;
$pinkLight: #f9d7ea !default;
$brownLight: #ede1d9 !default;
$greyLight: #e7ebed !default;

/* 渐变色 */
$gradualRed: linear-gradient(45deg, #f43f3b, #ec008c) !default;
$gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24) !default;
$gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f) !default;
$gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff) !default;
$gradualPink: linear-gradient(45deg, #ec008c, #6739b6) !default;
$gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4) !default;

/* 阴影透明色 */
$ShadowSize: 6px 6px 8px !default;
$redShadow: rgba(204, 69, 59, 0.2) !default;
$orangeShadow: rgba(217, 109, 26, 0.2) !default;
$yellowShadow: rgba(224, 170, 7, 0.2) !default;
$oliveShadow: rgba(124, 173, 55, 0.2) !default;
$greenShadow: rgba(48, 156, 63, 0.2) !default;
$cyanShadow: rgba(28, 187, 180, 0.2) !default;
$blueShadow: rgba(0, 102, 204, 0.2) !default;
$purpleShadow: rgba(88, 48, 156, 0.2) !default;
$mauveShadow: rgba(133, 33, 150, 0.2) !default;
$pinkShadow: rgba(199, 50, 134, 0.2) !default;
$brownShadow: rgba(140, 88, 53, 0.2) !default;
$greyShadow: rgba(114, 130, 138, 0.2) !default;
$grayShadow: rgba(114, 130, 138, 0.2) !default;
$blackShadow: rgba(26, 26, 26, 0.2) !default;
